<form [formGroup]="navItemOneForm">
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          formControlName="firstName"
          type="text"
          class="form-control"
          id="firstName"
        />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          formControlName="lastName"
          type="text"
          class="form-control"
          id="lastName"
        />
      </div>
    </div>
  </div>
</form>
